<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>李德水的毕业设计</title>
  <meta name="keywords" content="blog" />
  <meta name="description" content="blog" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/base.css" rel="stylesheet">
  <link href="css/m.css" rel="stylesheet">
  <script src="js/jquery-1.8.3.min.js" ></script>
  <script src="js/comm.js"></script>
  <!--[if lt IE 9]>
  <script src="js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
<!--top begin-->
<header id="header">
  <div class="navbox">
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <div class="logo"><a href="index.html">李德水的个人博客</a></div>
    <nav>
      <ul id="starlist">
        <li><a href="/">首页</a></li>
        <li><a href="/diary">个人博客日记</a></li>
        <li><a href="/heart">心灵成长历程</a></li>
        <li><a href="/work">工作心得</a></li>
        <li><a href="/history">往期文章</a></li>
        <li><a href="/about">关于我</a></li>
      </ul>
    </nav>
    <div class="searchico"></div>
  </div>
</header>
<div class="searchbox">
  <div class="search">
    <form action="#" method="post" name="searchform" id="searchform" style="cursor: pointer">
      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onFocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onBlur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
      <input name="show" value="title" type="hidden">
      <input name="tempid" value="1" type="hidden">
      <input name="tbname" value="news" type="hidden">
      <input name="Submit" class="input_submit" value="搜索" type="submit">
    </form>
  </div>
  <div class="searchclose" style="cursor: pointer"></div>
</div>
<!--top end-->
<article> 
  <!--lbox begin-->
  <div class="lbox">
    <div class="content_box whitebg">
      <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="index.html">网站首页</a>><a href="info.html">心灵成长历程</a></span>心灵成长历程</h2>
      <h1 class="con_tilte">个人博客，属于我的小世界！</h1>
      <p class="bloginfo"><i class="avatar"><img src="img/avatar.jpg"></i><span>李德水</span><span>2020-05-20</span><span>【<a href="#">程序人生</a>】</span><span>109990人已围观</span></p>
      <p class="con_info"><b>引</b>不要用眼睛，本质的东西，只有用心才看的清</p>
      <div class="con_text">
        <p><img src="img/xwz0.jpg"></p>
        <p>1、⼩王⼦穿过沙漠。他只⻅过⼀朵花，⼀个有着三枚花瓣的花朵，⼀朵很不起眼的⼩花。</p>
        <p>2、第五颗⾏星⾮常奇怪，是这些星星中最⼩的⼀颗。⾏星上刚好能容得下⼀盏路灯与⼀个点路灯的⼈</p>
        <p>3、你就这样静坐在草地上，离我稍远的地⽅。我⽤眼⻆瞅着你，你什么话也别说。语⾔是误会 的根源。但是，每天，你可以坐得离我更近⼀些。</p>
        <p>4、⽐如说，你下午四点钟来。那么从三点钟起，我就开始感到幸福。时间越临近，我就越感到幸福。到了四点钟的时候，我就会坐⽴不安：我就会发现幸福的代价。</p>
        <p>5、我始终认为⼀个⼈可以很天真简单的活下去，必是身边⽆数⼈⽤更⼤的代价守护⽽来的。</p>
        <p>6、你知道吗，⼈在难过的时候就会爱上⽇落。</p>
        <p>7、地球可不是⼀颗普通的⾏星！它上⾯有⼀百⼀⼗⼀个国王，七千个地理学家，九⼗万个实业家，七百五⼗万个酒⻤，三亿⼀千⼀百万个爱虚荣的⼈，也就是说，⼤约有⼆⼗亿的⼤⼈。</p>
        <p>8、对于被你驯服的对象，你永远负有责任。</p>
        <p>9、这是你的错，我根本⽆意去伤害你，可是你却愿意让我驯服你……可是你现在却想哭！那驯 服根本对你毫⽆好处！</p>
        <p>10、到了四点钟的时候，我就会坐⽴不安，我发现了幸福的价值，但是如果你随便什么时候来，我就不知道在什么时候准备好迎接你的⼼情了。</p>
        <p><img src="img/xwz2.gif"></p>
        <p>11、因为是⼼⽢情愿地沉溺，即使死亡也⽆须被拯救。</p>
        <p>12、所有的⼤⼈都曾经是⼩孩，虽然，只有少数的⼈记得。</p>
        <p>13、只恨我当时年纪⼩，看不到她那⼩⼩花招背后的⼀⽚柔情。</p>
        <p>14、星星之所以在天上发亮，是不是为了让我们每⼀个⼈都能找到回⾃⼰⽼家？</p>
        <p>15、如果你爱上了某个星球的⼀朵花。那么，只要在夜晚仰望星空，就会觉得漫天的繁星就像⼀朵朵盛开的花。</p>
        <p>16、⼈是没有什么时间去了解什么事情的，他们在商店⾥买那些现成的东⻄，但是没有商店可以买到友谊。所以⼈已经没有朋友了。如果你想要朋友，就请你，驯服我吧！</p>
        <p>17、花是弱⼩的、淳朴的，他们总是⽤⾃⼰的⽅式保护⾃⼰，以为有了刺就可以显出⾃⼰的厉害。</p>
        <p>18、卖弄⼩聪明的⼈往往会偏离事情的真相。</p>
        <p>19、也许世界上也有五千朵与你⼀模⼀样的花，但只有你是我独⼀⽆⼆的玫瑰。</p>
        <p>20、只有⼩孩⼦知道⾃⼰在找什么。他们把时间花费在布洋娃娃身上。因此对他们⽽⾔，洋娃娃就变得很重要。⼀旦有⼈将娃娃拿⾛，他们就会号啕⼤哭。</p>
        <p><img src="img/xwz3.jpg"></p>
        <p>21、如果让⾃⼰被驯化，就难免会流泪。</p>
        <p>22、夜晚，当你望着天空的时候，既然我就住在其中⼀颗星星上，既然我在其中⼀颗星星上笑着，那么对你来说，就好象所有的星星都在笑，那么你将看到的星星就是会笑的星星！</p>
        <p>23、你明⽩，路太远，我⽆法带着躯体⾛，太沉重。</p>
        <p>24、⼩王⼦睡觉了，我就把他抱在怀⾥，⼜重新上路了。我很激动。就好象抱着⼀个脆弱的宝⻉。就好象在地球上没有⽐这更脆弱的了。</p>
        <p>25、⻨⽥与我没有任何关联，真令⼈沮丧。不过，你有⾦⻩⾊的头发。想想看，如果你驯服了我，那该有多好啊！⼩⻨也是⾦⻩⾊的，那会使我想起你。我会喜欢听⻨⽥⾥的⻛声。</p>
        <p>26、⼩王⼦跟着狐狸复述着，他要让这些话深深地印在⾃⼰的脑海⾥。</p>
        <p>27、地理学家，就是⼀种学者，他知道哪⾥有海洋，哪⾥有江河、城市、⼭脉、沙漠</p>
        <p>28、因为她不愿让⼩王⼦看到⾃⼰哭泣，她毕竟是朵如此骄傲的花呀。</p>
        <p>29、能快乐旅⾏的，⼀定是轻装旅⾏的⼈。</p>
        <p>30、“所有的⼈都到哪⼉去了？”⼩王⼦终于⼜开腔了：“在沙漠上，真有点孤独。”“⼈群⾥也是很寂寞的。”蛇说。</p>
        <p><img src="img/xwz4.jpg"></p>
        <p>31、因为，⼀个⼈可以同时是忠实的，⼜是懒惰的。</p>
        <p>32、我再度意识到要发⽣⼀件不可弥补的事。我觉得我的⼼⼀下⼦就凉了。这时我才明⽩：⼀想到再也不能听到这笑声，我就不能忍受。这笑声对我来说，就好象是沙漠中的⽢泉⼀样</p>
        <p>33、每天夜⾥，我总喜欢凝神聆听那五亿颗⼩铃铛似的可爱的星星的声⾳。</p>
        <p>34、我在想星星们闪闪发亮是不是为了要让每个⼈找到回家的路。他说：“看，我的那颗星星，恰好就在头上却距离如此遥远！</p>
        <p>35、⼩王⼦没有勇⽓承认的是：他留恋这颗令⼈赞美的星星，特别是因为在那⾥每⼆⼗四⼩时就有⼀千四百四⼗次⽇落！</p>
        <p>36、⼈有朋友是件好事，就算他要死了也这样。我，⽐如说，我就很⾼兴曾经与⼀只狐狸交上了朋友。</p>
        <p>37、因为忘记⾃⼰的朋友是⼀件悲哀的事情，并不是每个⼈都拥有朋友，如果我忘记了⼩王⼦，那我就会变得与那些除了对数字感兴趣，对其他事都漠不关⼼的⼤⼈们⼀样了。</p>
        <p>38、只有⽤⼼灵才能看得清事物本质，真正重要的东⻄是⾁眼⽆法看⻅的。</p>
        <p>39、狐狸：如果你驯养我，那我的⽣命就充满阳光，你的脚步声会变得跟其他⼈的不⼀样。其他⼈的脚步声会让我迅速躲到地底下，⽽你的脚步声则会像⾳乐⼀样，把我召唤出洞⽳。</p>
        <p>40、你在你的玫瑰花身上耗费的时间使得你的.玫瑰花变得如此的重要。</p>
        <p><img src="img/xwz5.png"></p>
        <p>41、⾃负的⼈总以为别⼈把⾃⼰当偶像</p>
        <p>42、我们的⼩王⼦万般⽆奈，怅然地⾛了。</p>
        <p>43、对我来说，这⾥是世界上最可爱，却也是最悲伤的⼀⽚⼟地。</p>
        <p>44、狐狸说：“对我来说，你只是⼀个⼩男孩，就像其他成千上万个⼩男孩⼀样没有什么两样。我不需要你。你也不需要我。对你来说，我也只是⼀只狐狸，与其他成千上万的狐狸没有什么不同。但是，如果你驯养了我，我们就会彼此需要。对我来说，你就是我的世界⾥独⼀⽆⼆的了；我对你来说，也是你的世界⾥的唯⼀了。</p>
        <p>45、当⼀种神秘的东⻄把你镇住的时候，你是不敢不去听从它的⽀配的，在这旷⽆⼈烟的沙漠上，在⾯临死亡的危险的情况下，尽管这样的举动使我感到⼗分荒诞，我还是掏出了⼀张纸与⼀⽀钢笔。这时我却⼜记起，我只学过地理、历史、算术与语法，就有点不⼤⾼兴地对⼩家伙说我不会画画。</p>
        <p>46、⼩王⼦⼀旦提出问题，便决不放弃，⼀辈⼦都不改变。</p>
        <p>47、对了，我要告诉你⼀个很简单的秘密。就是⽤⼼才能看⻅真实。真正重要的事，⽤眼睛是看不⻅的。</p>
        <p>48、我不愿意⼈家粗⼼⼤意地读我的书，因为在这些记忆记下来时，我承受了太多太多的悲伤。</p>
        <p>49、如果你说你在下午四点来，从三点钟开始，我就开始感觉很快乐，时间越临近，我就越来越感到快乐。</p>
        <p>50、⽽当他熄灭灯⽕时，似乎也就让花⼉与星星睡去。</p>
        <p><img src="img/xwz1.jpg"></p>
        <p style="text-align: center;color: #00c1de">⼩王⼦存在的证据就是他⾮常的漂亮，他笑着，想要⼀只⽺。他想要⼀只⼩⽺，这就证明他的存在。</p>
      </div>
    </div>
    <div class="whitebg">
      <h2 class="htitle">相关文章</h2>
      <ul class="otherlink">
        <li><a href="https://www.bilibili.com/video/BV1tx411e7Xg?from=search&seid=14493001918870776974" target="_blank" title="《小王子》在线阅读">《小王子》在线观看</a></li>
        <li><a href="http://www.eywedu.net/xiaowangzi/" target="_blank" title="《小王子》在线阅读">《小王子》在线阅读</a></li>
      </ul>
    </div>

    <div class="whitebg gbook">
      <h2 class="htitle">文章评论</h2>
      <ul>
        <l1>听过这个故事的人，是幸福的，也祝愿你们永远幸福。</l1>
        <l1><p style="text-align: right;color: #9a9a9a"></n>一颗红豆冰&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;020-05-20</p></l1>
      </ul>
    </div>
  </div>
  <!--lbox end-->
  <div class="rbox">
    <div class="whitebg paihang">
      <h2 class="htitle">点击排行</h2>
      <section class="topnews imgscale"><a href="#"><img src="img/h1.jpg"><span>刚开始实习工作，应该怎么做规划？</span></a></section>
      <ul>
        <li><i></i><a href="#">你有没有回头看看，实习后你经历了的每一次低谷？</a></li>
        <li><i></i><a href="#">使用es6语法要避开哪些雷区？</a></li>
        <li><i></i><a href="#">开发项目如何选择前端框架？</a></li>
        <li><i></i><a href="#">如何三步实现滚动条触动css动画效果？</a></li>
        <li><i></i><a href="#">应该努力争取，还是静待美好出现？</a></li>
        <li><i></i><a href="#">那些过去让你觉得迈不过去的坎，现在呢？</a></li>
        <li><i></i><a href="#">怎么做一个温柔善良的人？</a></li>
        <li><i></i><a href="#">撸猫和工作应该如何选择？</a></li>
      </ul>
    </div>
    <div class="whitebg tuijian">
      <h2 class="htitle">本栏推荐</h2>
      <section class="topnews imgscale"><a href="#"><img src="img/h2.jpg"><span>6条网页设计配色原则,让你秒变配色高手</span></a></section>
      <ul>
        <li><a href="#"><i><img src="img/text01.jpg"></i>
          <p>十条设计原则教你学会如何设计网页布局!</p>
        </a></li>
        <li><a href="#"><i><img src="img/text02.jpg"></i>
          <p>用js+css3来写一个手机栏目导航</p>
        </a></li>
        <li><a href="#"><i><img src="img/text03.jpg"></i>
          <p>6条网页设计配色原则,让你秒变配色高手</p>
        </a></li>
        <li><a href="#"><i><img src="img/text04.jpg"></i>
          <p>三步实现滚动条触动css动画效果</p>
        </a></li>
        <li><a href="#"><i><img src="img/text05.jpg"></i>
          <p>个人博客，属于我的小世界！</p>
        </a></li>
        <li><a href="#"><i><img src="img/text06.jpg"></i>
          <p>安静地做一个爱设计的人</p>
        </a></li>
        <li><a href="#"><i><img src="img/text07.jpg"></i>
          <p>个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</p>
        </a></li>
      </ul>
    </div>
    <div class="ad whitebg imgscale">
      <ul>
        <a href="#"><img src="img/wxgzh.jpg"></a>
      </ul>
    </div>
    <div class="whitebg cloud">
      <h2 class="htitle">我的标签</h2>
      <ul>
        <a href="#" >技术专栏</a> <a href="#" >css动画</a> <a href="#" >布局</a> <a href="#" >HTTP请求</a> <a href="#" >Docker的核心优势</a> <a href="#" >运维小知识</a> <a href="#" >我的小世界</a> <a href="#" >个人博客</a> <a href="#" >网页设计</a>
      </ul>
    </div>
    <div class="whitebg wenzi">
      <h2 class="htitle">猜你喜欢</h2>
      <ul>
        <li><a href="#">十条设计原则教你学会如何设计网页布局!</a></li>
        <li><a href="#">用js+css3来写一个手机栏目导航</a></li>
        <li><a href="#">6条网页设计配色原则,让你秒变配色高手</a></li>
        <li><a href="#">三步实现滚动条触动css动画效果</a></li>
        <li><a href="#">个人博客，属于我的小世界！</a></li>
        <li><a href="#">安静地做一个爱设计的小码农</a></li>
        <li><a href="#">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
        <li><a href="#">做个人博客如何美化留言增加头像选择</a></li>
      </ul>
    </div>
    <div class="ad whitebg imgscale">
      <ul>
        <a href="#"><img src="img/wx.png"></a>
      </ul>
    </div>
    <div class="whitebg tongji">
      <h2 class="htitle">站点信息</h2>
      <ul>
        <li><b>访问次数</b>：1063次</li>
        <li><b>文章统计</b>：299条</li>
        <li><b>文章评论</b>：490条</li>
      </ul>
    </div>
  </div>
</article>
<footer>
  <div class="box">
    <div class="wxbox">
      <ul>
        <li><img src="img/wxgzh.jpg"><span>微信公众号</span></li>
        <li><img src="img/wx.png"><span>我的微信</span></li>
      </ul>
    </div>
    <div class="endnav">
      <p><b>站点声明：</b></p>
      <p>1、本站仅为毕业设计使用，非长期维护型。</p>
      <p>2、本站所有文章内容图片素材等均来源于网络，非本人版权。</p>
    </div>
  </div>
  <a href="#">
  <div class="top"></div>
  </a> </footer>
</body>
</html>
